<%= simple_form_for [current_member, profile], html: { multipart: true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :city, label: "City" %>
  <%= f.input :postal_code, label: "Postal Code" %>
  <%= f.input :state, label: "State" %>
  <%= f.input :birthday, label: "Birthday" %>
  <%= f.input :cc_number, label: "Credit Card Number", input_html: { class: "cc_number" } %>
  <%= f.input :bio, label: "Bio" %>
  <% if profile.profile_pic.present? %>
    <%= image_tag @profile.profile_pic.url(:small) %>
  <% end %>
  <%= f.input :profile_pic, as: :file %>
  <%= f.button :submit %>
<% end %>
