<h1>Profile</h1>
<%= simple_form_for [current_member, @profile], html: { multipart: true } do |f| %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :city, label: "City" %>
  <%= f.input :postal_code, label: "Postal Code" %>
  <%= f.input :state, label: "State" %>
  <%= f.input :birthday, label: "Birthday" %>
  <%= f.input :cc_number, label: "Credit Card Number" %>
  <%= f.file_field :profile_pic, accept: 'image/jpeg,image/gif,image/png' %>
  <%= f.button :submit %>
<% end %>
