<section class="content">
<h1>Profile</h1>
<p>First Name: <%= @profile.first_name %><br>
Last Name: <%= @profile.last_name %></p>
<p>Address: <%= @profile.address %><br>
City: <%= @profile.city %><br>
<%= @profile.state %> <%= @profile.postal_code %></p>
<p>Birthday: <%= @profile.birthday.strftime("%d %B %Y") %>
<p>Credit Card Number: <%= @profile.cc_number %></p>
<p><%= image_tag @profile.profile_pic.url(:small) %></p>
Bio: <%= simple_format(@profile.bio) %>
<p><%= link_to "Edit Profile", edit_member_profile_path(current_member, @profile.id) %></p>
<% if @profile.is_host %>
  <h2> My locations</h2>
  <ul class="locations">
  <% current_member.locations.each do |location| %>
    <li><%= link_to location.title, member_location_path(current_member, location) %></li>
  <% end %>
  </ul>
<% end %>
<%= link_to "Create Location", new_member_location_path(current_member) %>
</section>
