<section class="content">
  <h1>Profile</h1>
  <p>Account type:
  <% if @profile.is_host %>
    <%= "Host" %>
  <% else %>
    <%= "Guest" %>
  <% end %>
  <p><%= image_tag @profile.profile_pic.url(:small) %></p>
  <p><%= @profile.fullname %></p>
  <p>Address: <%= @profile.address %><br>
  City: <%= @profile.city %><br>
  <%= @profile.state %> <%= @profile.postal_code %></p>
  <p>Birthday: <%= @profile.birthday.strftime("%d %B %Y") %>
  <p>Credit Card Number: <%= @profile.cc_number %></p>
  <% if is_host? %>
    <p><%= link_to "Accept Stripe Payments", payout_account_member_path(current_member) %></p>
  <% end %>
  Bio: <%= simple_format(@profile.bio) %>
  <%= button_to "Edit Profile", edit_member_profile_path(current_member, @profile.id), method: :get %>
  <% if is_host? %>
    <%= render 'locations', profile: @profile %>
    <%= button_to "Create Location", new_member_location_path(current_member), method: :get %>
  <% end %>
  <p><%= link_to "My Reservations", member_reservations_path(current_member) %></p>
</section>
