<h1>ReservationConfirmationMailer#send_host_reservation_confirmation</h1>

<p>
  <%= @body %>
  <p><%= @first_name %> <%= @last_name %></p>
  <p>
  <%= @location.title %><br>
  <%= @location.address.street %></p>
</p>
