<h1>ReservationConfirmationMailer#send_customer_reservation_confirmation</h1>

<p>
 <%= @body %>
 <p><%= @location.title %>:<br>
 street: <%= @location.address.street %></p>
 <p>Host: <%= @first_name %> <%= @last_name %></p>
</p>
