<h1>Reservation Confirmation</h1>

<p>
  <%= @body %>
  <p><%= @first_name %> <%= @last_name %></p>
  <p>
  <%= @location.title %><br>
  <%= @address.street %></p>
  <%= @address.city %>, <%= @address.postal_code %>
  <%= @address.country %>
</p>
