ReservationConfirmationMailer#send_host_reservation_confirmation

<%= @body %>

<%= @location.title %><br>
<%= @location.address.street %></p>

host: <%= @host.profile.first_name %> <%= @host.profile.last_name %>
