<h1>Reservation Cancellation</h1>
<p><%= @greeting %></p>
<p>location: <%= @location.title %><br>
street: <%= @address.street %><br>
<%= @address.city %> <%= @address.postal_code %>, <%= @address.country %></p>
<p>guest: <%= @first_name %> <%= @last_name %></p>
<p>reservation:<br>
start date: <%= @reservation.start_date.strftime('%d  %B %Y') %><br>
end date: <%= @reservation.end_date.strftime('%d  %B %Y') %></p>
