<h1>Reservation Cancellation</h1>
<p>
  <%= @greeting %>:
</p>
<p><%= @location.title %><br>
<%= @address.street %>
<%= @address.city %> <%= @address.postal_code %>, <%= @address.country %></p>
<p>Reservation<br>
start date: <%= @reservation.start_date.strftime('%d  %B %Y') %><br>
end date: <%= @reservation.end_date.strftime('%d  %B %Y') %></p>
