<section class="hero">
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="javascript:void(0)" class="logo">
        Gigbnb
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="javascript:void(0)">Become a host</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Help</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Sign Up</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Login</a></li>
          <% if member_signed_in? %>
            <li class="nav-link"><%= link_to "Sign out", destroy_member_session_path, method: :delete %></li>
          <% if has_profile? %>
            <li class="nav-link"><%= link_to "Profile", member_profile_path(current_member, current_member.profile) %></li>
          <% else %>
            <li class="nav-link"><%= link_to "Create Profile", new_member_profile_path(current_member) %></li>
          <% end %>
          <% else %>
            <li class="nav-link"><%= link_to "Sign in", new_member_session_path %></li>
  <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="body">
  <h1>Find a gig and a sleeping place</h1>
  </div>
</section>
<section class="search">
  <div class="search-bar">
  <form role="search">
    <input type="search" placeholder="Enter Search">
    <button type="submit">
      Search
    </button>
  </form>
  </div>
</section>
<section class="row">
  <h2>Artists</h2>
  <p>Our selected artists</p>
  <ul class="artists">
    <li><%= image_tag "lady-gaga.jpg" %></li>
    <li><%= image_tag "lady-gaga.jpg" %></li>
    <li><%= image_tag "lady-gaga.jpg" %></li>
    <li><%= image_tag "lady-gaga.jpg" %></li>
  </ul>
  <div class="all-items">See all Artists</div>
</section>
<section class="row">
  <h2>Locations</h2>
  <p>Our selected locations</p>
  <ul class="locations">
    <li><%= image_tag "new-york.jpg" %></li>
    <li><%= image_tag "new-york.jpg" %></li>
    <li><%= image_tag "new-york.jpg" %></li>
    <li><%= image_tag "new-york.jpg" %></li>
  </ul>
  <div class="all-items">See all Locations</div>
</section>


