<section class="search">
  <div class="search-bar">
  <form role="search">
    <input type="search" placeholder="Enter Search">
    <button type="submit">
      Search
    </button>
  </form>
  </div>
</section>
<section class="row">
  <h2>Artists</h2>
  <p>Our selected artists</p>
  <ul class="artists">
    <li><%= image_tag "lady-gaga.jpg" %></li>
    <li><%= image_tag "lady-gaga.jpg" %></li>
    <li><%= image_tag "lady-gaga.jpg" %></li>
    <li><%= image_tag "lady-gaga.jpg" %></li>
  </ul>
  <div class="all-items">See all Artists</div>
</section>
<section class="row">
  <h2>Locations</h2>
  <p>Our selected locations</p>
  <ul class="locations">
    <li><%= image_tag "new-york.jpg" %></li>
    <li><%= image_tag "new-york.jpg" %></li>
    <li><%= image_tag "new-york.jpg" %></li>
    <li><%= image_tag "new-york.jpg" %></li>
  </ul>
  <div class="all-items">See all Locations</div>
</section>


