<div id="flash-messages"></div>
<div id="stripe_error">
 <noscript>JavaScript is not enabled and is required for this
form. First enable it in your web browser settings.</noscript>
</div>

<%= simple_form_for [current_member, @reservation], html: { id: "credit_card_form" } do |f| %>
  <%= f.text_field :start_date, value: @reservation.start_date %>
  <%= f.text_field :end_date, value: @reservation.end_date %>
  <%= f.hidden_field :location_id, value: @location.id %>
  <%= f.hidden_field :member_id, value: current_member.id %>
  <%= text_field_tag :card_number, "", class: "credit-card-number",
  "data-stripe" => "number", placeholder: "Credit Card Number",
  required: "required" %>
  <%= select_tag :exp_month,
  options_for_select(Date::MONTHNAMES.compact.each_with_index.map {
  |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false,
  "data-stripe" => "exp-month", class: "credit-card-month" %>
  <%= select_tag :exp_year,
  options_for_select((Date.current.year..(Date.current.year+10)).to_a
  ), include_blank: false, "data-stripe" => "exp-year", class:
  "credit-card-year" %>
  <%= text_field_tag :card_verification, "", class:
  "credit-card-cvv", "data-stripe" => "cvv" %>
  <%= text_field_tag :address_zip, "", class: "credit-card-zip",
  "data-stripe" => "address-zip" %>
  <div id="wait-message" style="display:none"><h3
  class="wait-text">Please wait ...</h3></div>
  <%= f.submit "Book Now" %>
<% end %>
