<section class="content">
  <p><%= link_to "Reservations", member_reservations_path(@member) %></p>
  <h1>Reservation: <%= @location.title %></h1>
  <p>Start date: <%= @reservation.start_date.strftime("%m/%d/%Y") %><br>
  End date: <%= @reservation.end_date.strftime("%m/%d/%Y") %></p>
  <p>Host: <%= @host_profile.first_name %> <%= @host_profile.last_name %></p>
  <p>Address:<br>
  <%= @address.street %><br>
  <%= @address.city %> <%= @address.postal_code %>, <%= @address.country %></p>
  <% if @reservation.id_for_refund == nil %>
    <p><%= link_to "Cancel Reservation",
  cancel_reservation_path(@reservation), data: { confirm: "Are you sure?"} %></p>
  <% end %>
</section>
