<section class="content">
  <h1>Location: <%= @location.title %></h1>
  <p>
  <%= link_to member_profile_path(current_member, @profile) do %>
    <%= image_tag @profile.profile_pic.url(:small), class: "host" %>
  <% end %> 
  </p>
  <%= simple_format(@location.description) %>
  <% if @location.address.present? %>
    <%= render 'address', address: @location.address %>
  <% end %>
  <p>number of beds: <%= @location.beds %><br>
  number of guests: <%= @location.guests %></p>
  <p>price: <%= number_to_currency(@location.price) %></p>
  <p>
  <%= link_to "Edit", edit_member_location_path(current_member, @location) %>
  <%= link_to "Delete", member_location_path(current_member, @location), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
  <% @location.location_images.each do |image| %>
    <%= image_tag image.picture.url(:medium) %>
  <% end %>
  <p><%= link_to "Add Images", add_images_location_path(@location) %></p>

  <div style='width: 800px;'>
  <div id="map" style='width: 850px; height: 400px;'></div>
  </div>
</section>

<script type="text/javascript">
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
 markers = handler.addMarker(<%=raw @coordinates.to_json %>);
 handler.bounds.extendWith(markers);
 handler.fitMapToBounds(markers);
 handler.getMap().setZoom(15);
 });
</script>

