<section class="content">
  <h1><%= @location.title %></h1>
  <div class="reservation">
  <%= simple_form_for [current_member, Reservation.new] do |f| %>
    <%= f.hidden_field :location_id, value: @location.id %>
    <%= f.hidden_field :member_id, value: current_member.id %>
    <%= f.input :start_date, default: Date.tomorrow %>
    <%= f.input :end_date, default: Date.today + 2.days %>
    <%= f.submit 'Reserve this location' %>
  <% end %>
  <% if is_host?(current_member.profile) %>
    <p><%= link_to "Add available dates for this location", calendar_location_path(@location) %></p>
    <div id="calendar", style='width: 400px;'></div>
    <% if authorized_stripe?(current_member) %>
      <%= link_to "Publish" %>
    <% end %>
  </div>
  <% end %>
  <%= simple_format(@location.description) %>
  <% if @location.address.present? %>
    <%= render 'address', address: @location.address %>
  <% end %>
  <p><%= pluralize(@location.beds, 'bed') %><br>
  <%= pluralize(@location.guests, 'guest') %></p>
  <p><%= number_to_currency(@location.price) %></p>
  <p>
  <%= link_to "Edit", edit_member_location_path(current_member, @location) %>
  <%= link_to "Delete", member_location_path(current_member, @location), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
  <% @location.location_images.each do |image| %>
    <%= image_tag image.picture.url(:small) %>
  <% end %>
  <p><%= link_to "Add Images", add_images_location_path(@location) %></p>
  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</section>

<script type="text/javascript">
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
 markers = handler.addMarker(<%=raw @coordinates.to_json %>);
 handler.bounds.extendWith(markers);
 handler.fitMapToBounds(markers);
 handler.getMap().setZoom(15);
 });
</script>

<script type="text/javascript">
$('#calendar').fullCalendar({
events: '<%=@location.id%>.json',
eventBackgroundColor: "green"
});
</script>
