<section class="content">
  <div class="location">
  <h1><%= @location.title %></h1>
  <% @location.location_images.each do |image| %>
    <%= image_tag image.picture.url(:small) %>
  <% end %>
  <p><%= link_to "Add Images", add_images_location_path(@location) %></p>
  <%= simple_format(@location.description) %>
  <% if @location.address.present? %>
    <%= render 'address', address: @location.address %>
  <% end %>
  <p><%= pluralize(@location.beds, 'bed') %><br>
  <%= pluralize(@location.guests, 'guest') %></p>
  <p><%= number_to_currency(@location.price) %></p>
  <div style='width: 400px;'>
    <div id="map" style='width: 400px; height: 400px;'></div>
  </div>
  </div><!-- .location -->

  <div class="reservation">
    <%= render 'reservation', location: @location %>
    <% if is_host? %>
      <%= render 'available_dates', location: @location %>
    <% end %>
    <% if is_host? %>
      <%= link_to "Edit", edit_member_location_path(current_member, @location) %>
      <%= link_to "Delete", member_location_path(current_member, @location), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    <div id="calendar"></div>
  </div><!-- .reservation -->
</section>

<script type="text/javascript">
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
 markers = handler.addMarker(<%=raw @coordinates.to_json %>);
 handler.bounds.extendWith(markers);
 handler.fitMapToBounds(markers);
 handler.getMap().setZoom(15);
 });
</script>

<script type="text/javascript">
$('#calendar').fullCalendar({
events: '<%=@location.id%>.json',
eventBackgroundColor: "green"
});
</script>
