<!DOCTYPE html>
<html>
<head>
  <title>Gigbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.24&key=#{GOOGLE_MAPS_KEY}" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <div class="flash-notice">
      <span><%= notice %></span>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash-alert">
      <span><%= alert %></span>
    </div>
  <% end %>
  <div class="wrapper-for-content-outside-of-footer">
  <%= render 'layouts/header' unless current_page?(root_path) %>
  <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

</body>
<script>
  $(document).ready(function() {
    setTimeout(function(){
      $(".flash-alert, .flash-notice").fadeOut("slow", function() {
        $(this).remove();
      });
    }, 2500);
  });
</script>
</html>
